{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}AARAV BAHATTARAI{% endblock %}</title>
  <link rel="icon" type="image/png" href="{% static 'assets/portfolio.png' %}">
  <meta property="og:type" content="website">
  <meta property="og:url" content="https://portfolio-django-rho.vercel.app/">
  <meta property="og:title" content="AARAV BAHATTARAI — Home">
  <meta property="og:description" content="A brief description of your portfolio or what you do.">
  <meta property="og:image" content="https://portfolio-django-rho.vercel.app/static/assets/GG.jpg">
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="https://portfolio-django-rho.vercel.app/">
  <meta property="twitter:title" content="AARAV BAHATTARAI — Home">
  <meta property="twitter:description" content="A brief description of your portfolio or what you do.">
  <meta property="twitter:image" content="https://portfolio-django-rho.vercel.app/static/assets/GG.jpg">
  <link rel="stylesheet" href="{% static 'css/global.css' %}">
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  <link rel="stylesheet" href="{% static 'css/footer.css' %}">
  {% block extra_css %}{% endblock %}
  <script src="https://unpkg.com/lenis@1.1.16/dist/lenis.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js"></script>
</head>
<body>
  {% include 'includes/navbar.html' %}

  <main>
    {% block content %}{% endblock %}
  </main>

  {% include 'includes/footer.html' %}

  <script src="{% static 'js/navbar.js' %}"></script>
  <script src="{% static 'js/script.js' %}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>
